<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <!--script type="text/javascript" src="http://cdn.bokeh.org/bokeh/release/bokeh-2.0.2.min.js" integrity="sha384-ufR9RFnRs6lniiaFvtJziE0YeidtAgBRH6ux2oUItHw5WTvE1zuk9uzhUU/FJXDp" crossorigin="anonymous"></script> -->
  <!--script type="text/javascript" src="http://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.2.min.js" integrity="sha384-8QM/PGWBT+IssZuRcDcjzwIh1mkOmJSoNMmyYDZbCfXJg3Ap1lEvdVgFuSAwhb/J" crossorigin="anonymous"></script> -->
</head>

<body>
  <div>
    This Bokeh app below served by a Bokeh server that has been embedded
    in {{ framework }} framework.
  </div>
  {{ script|safe }}
  {{ div|safe }}
</body>
</html>